<nav class="navbar navbar-default">

  <div class="container-fluid">
    <center>
      Name: Julian Tjiong. Student email: s3786866@student.rmit.edu.au
    </center>
  </div><!-- /.container-fluid -->
</nav>
<br>
<br>
<br>

